.services-component {
    width: 100%;
}

.services-component .footnote {
    color: var(--color-gray);
    font-size: 0.875rem;
    margin-top: 1rem;
}

.services-component .controls .search-input:focus {
    outline: none;
    box-shadow: 0 0 0 1px light-dark(var(--color-light-semi-transparent), var(--outline-color-dark)), var(--box-shadow-heavy);
}
.services-component .controls .search-input {
    border-color: light-dark(var(--border-color-light), #313740) !important;
}

.loading-text {
    text-align: center;
    color: var(--color-gray);
}

.services-section {
    border-radius: 1rem;
    max-width: 972px;
    margin: 2rem auto 1rem auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.services-section > div {
    border-radius: 1rem;
}


.services-category {
    margin-bottom: 1.5rem;
    box-shadow: var(--box-shadow-medium);
    background: var(--color-light-semi-transparent);
    padding: 1rem;
}

.services-list {
    list-style: none;
    padding-left: 0.75rem;
    margin: 0;
    border-left: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
}

.services-category-header {
    color: light-dark(var(--color-darker), var(--color-light)) ;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: start;
    font-size: x-large;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    /* background: #fff; */
    border-radius: 0.75rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    border: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
}

.service-item-controls { 
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid light-dark(var(--border-color-light), #313740);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.service-item.selected {
    background-color: light-dark(var(--color-selected-light), var(--color-selected-dark)) !important;
}

.service-description {
    font-weight: 600;
    color: light-dark(var(--color-dark), var(--color-light)) ;
    text-align: start;
}

.service-rate {
    font-size: large;
    font-style: italic;
}

.search-results-text {
    text-align: center;
    margin: 0.5rem 0;
    color: light-dark(#373c43ff, var(--color-yellow));
    font-style: italic;
    font-weight: 500;
}

.job-added-text {
    color: light-dark(var(--color-red), var(--color-yellow));
    font-weight: bold;
    text-align: start;
}

.job-on-estimate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.forward-slash {
    color: light-dark(gray, white);
    font-weight: bold;
}


@media (prefers-color-scheme: dark) {
    .services-section > div {
        background-color: #1e1e1e !important;
    }

    .service-item.selected > div, .service-item.selected > div div {
        background-color: var(--color-selected-dark) !important;
    }


}


/* Responsive layout for smaller screens */

@media (min-width: 376px) {
    .search-input-container {
        min-width: 40ch !important;
    }
}

@media (min-width: 425px) {
    .search-input-container {
        min-width: 50ch !important;
    }
}


@media (min-width: 426px) {


}


/* Responsive layout for larger screens */
@media (min-width: 600px) {

    .services-category-header {
        font-size: xx-large;
    }

    .service-description, .job-added-text {
        font-size: large;
    }

    .service-rate {
        font-size: large;
    }

    .service-unit {
        font-size: medium;
    }

}

/* Responsive layout for larger screens */
@media (min-width: 768px) {


}