.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 44vh;
  border: 1px solid #f5f7fa;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow-medium);
  margin: 4rem 1.5rem;
  background-color: var(--color-light);
}

.hero-title {
  font-weight: 700;
  font-size: 3.2em;
  text-align: center;
  padding: 1rem;
  border-top: 1px dotted #e2e8f0;
  border-bottom: 1px dotted #e2e8f0;
  background-color: light-dark(#fafcff, transparent);
  color: light-dark(var(--color-hero-title), var(--color-yellow)); /*  2d3e50 */
}

.subtitle {
  color: var(--color-dark);
  font-size: 1.25rem;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
}

.cropped-image {
  width: 200px;
  height: 150px;
  object-fit: cover; /* fills container, cropping overflow */
  object-position: center top; /* controls focal point */
}


/* Responsive layout for smaller screens */
@media (min-width: 425px) {
    .landing-page-container {
        margin: 6rem 2rem !important;
    }
}


/* Responsive layout for larger screens */
@media (min-width: 768px) {
  .landing-page-container {
    margin: 12rem 2rem !important;
  }

}

@media (prefers-color-scheme: dark) {

  .landing-page-container {
    border-color: #34343490;
  }
}
