.estimate-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 1rem; */
  margin-bottom: 2rem;
}

.estimate-table {
  border-style: hidden;
}

.estimate-body {
  padding: 1rem 2rem;
  background: #f9fafb;
  border-radius: 1rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04); */
  box-shadow: var(--box-shadow-medium);
  max-width: 768px;
  width: 80%;
}
.estimate-body .empty-estimate {
  padding: 5rem 2rem;
  min-height: 6rem;
}

.estimate-body .controls {
  margin-bottom: 1.5rem;
}

.estimate-body .controls .pdf-preview-button:hover {
  background-color: var(--color-red);
  border-color: transparent;
  color: var(--color-light)
}

.estimate-body .controls .icon {
  fill: var(--color-light);
}


.grand-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e2e8f0;
}

.grand-total-text {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: light-dark(var(--color-dark), var(--color-light));
}

.grand-total-currency {
  font-weight: bold;
  min-width: 12ch;
  text-align: end;
}

.grand-total-currency .currency-value {
  font-size: 1.5rem;
}

.colon-end::after {
  content: ":";
}

.empty-estimate-text {
  color: var(--color-gray);
  font-weight: bold;
}

.job-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  margin-bottom: 0.75rem;
  border: 1px solid #e2e8f0;
}

.job-item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--color-dark);
}

.job-item-header .icon {
  fill: var(--color-red)
}

.job-item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.job-remove-button {
  padding: unset;
  background-color: unset;
  /* transition: transform 0.2s ease, opacity 0.2s ease; */
  transition: transform 0.4s ease-in-out, opacity 0.2s ease;
  display: inline-block;
}
.job-remove-button:hover {
  box-shadow: unset;
  background-color: unset;
  border-color: transparent;

  transform: scale(1.15);
  opacity: 0.85;

  animation: shake 0.5s ease-in-out;
}


.job-description {
  font-weight: 600;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2;    /* Limit to 2 lines */
  max-height: 4.5em; /* Adjust based on line-height */
}


.job-quantity-selector {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-weight: bold;
}

.job-quantity-selector input {
  max-width: 8ch;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.job-rate {
  display: flex;
  align-items: center;
  text-align: end;
}

.job-rate .currency-value {
  color: light-dark(black, var(--color-light));
}

.job-rate-container {
  display: flex;
  min-width: 12ch;
  gap: 1rem;
  align-items: center;
}

.at-symbol {
  color: var(--color-green);
  border: 1px solid #eeeee5ff;
  border-radius: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  background: #d9e4efff;
}

.forward-slash {
  margin: 0 0.35rem;
  font-weight: bold;
}


.job-item-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(239, 239, 239);
  gap: 2rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.job-item-footer .job-subtotal-text {
  color: light-dark(#313740, var(--color-light));
  font-weight: 600;
}

.job-subtotal .currency-value {
  min-width: 16ch;
  text-align: end;
}

.text-center {
  text-align: center !important;
}



/* Responsive layout for smaller screens */
@media (min-width: 425px) {
  .job-quantity-selector {
    flex-direction: row !important;

  }
  button.operator.minus-operator {
    margin-left: unset !important;
  }

  .job-unit {
    max-width: 15ch;
  }

  .short-unit {
    display: none !important;
  }
  .long-unit {
    display: inline-block !important;
  }
}


@media (min-width: 426px) {
  .grand-total-container {
    justify-content: flex-end !important;
  }

}

/* Responsive layout for larger screens */
@media (min-width: 600px) {

    .job-description, .at-symbol, .job-rate, .job-subtotal span {
      font-size: large;
    }

    .grand-total-text, .grand-total-currency {
      font-size: x-large;
    }

}


/* Responsive layout for larger screens */
@media (min-width: 768px) {
  .job-item {
    flex-direction: column;
  }

}

