.estimate-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.estimate-table {
  border-style: hidden;
}

.estimate-body {
  padding: 1rem 1.2rem;
  background: light-dark(#f9fafb, #1e1e1e) !important;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-medium);
  max-width: 768px;
  width: 80%;
  border: 1px solid light-dark(transparent, #313740)
}

.estimate-body .empty-estimate {
  padding: 5rem 2rem;
  min-height: 6rem;
  cursor: pointer;
}

.estimate-body .controls {
  margin-bottom: 1.5rem;
  background-color: inherit !important;
}

.estimate-body .controls .icon {
  fill: var(--color-light);
}


.grand-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  background-color: inherit !important;
}

.grand-total-text {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: light-dark(var(--color-dark), var(--color-light));
}

.grand-total-currency {
  font-weight: bold;
  min-width: 12ch;
  text-align: end;
}

.grand-total-currency .currency-value {
  font-size: 1.5rem;
}

.colon-end::after {
  content: ":";
}

.empty-estimate-text {
  color: var(--color-gray);
  font-weight: bold;
}

.job-items, 
.job-items, 
.job-item > div, 
.increment-decrement-input, 
.job-rate-container,
.job-rate,
.empty-estimate {
  background-color: inherit !important;
}

.job-item {
  display: flex;
  flex-direction: column;
  background-color: light-dark(var(--color-selected-light), var(--color-selected-dark)) !important;
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow-light);
  padding: 1rem;
  margin-bottom: 0.75rem;
  border: 1px solid light-dark(var(--border-color-light), #3d4551);
  padding-top: 0.5rem;
}

.job-item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--color-dark);
}

.job-item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.job-description {
  font-weight: 600;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2;    /* Limit to 2 lines */
  max-height: 4.5em; /* Adjust based on line-height */
}

.estimate-component .increment-decrement-input {
  flex-direction: column-reverse;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.job-rate {
  display: flex;
  align-items: center;
  text-align: end;
}

.job-rate .currency-value {
  color: light-dark(black, var(--color-light));
}

.job-rate-container {
  display: flex;
  min-width: 12ch;
  gap: 1rem;
  align-items: center;
}

.at-symbol {
  color: light-dark(var(--color-darker), var(--color-yellow));
  border: 1px solid light-dark(var(--border-color-light), var(--color-darker));
  border-radius: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  background: light-dark(#d9e4efff, var(--color-darker));
}

.forward-slash {
  margin: 0 0.35rem;
  font-weight: bold;
}


.job-item-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid light-dark(var(--border-color-light), #313740);
  gap: 2rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.job-item-footer .job-subtotal-text {
  color: light-dark(#313740, var(--color-light));
  font-weight: 600;
  text-transform: uppercase;
}

.job-subtotal .currency-value {
  min-width: 16ch;
  text-align: end;
}

.text-center {
  text-align: center !important;
}



/* Responsive layout for smaller screens */
@media (min-width: 425px) {
  .estimate-component .increment-decrement-input {
    flex-direction: row;
  }

  .job-unit {
    max-width: 15ch;
  }

  .short-unit {
    display: none !important;
  }
  .long-unit {
    display: inline-block !important;
  }
}


@media (min-width: 426px) {
  .grand-total-container {
    justify-content: flex-end !important;
  }

  .estimate-body {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

}

/* Responsive layout for larger screens */
@media (min-width: 600px) {

    .job-description, .at-symbol, .job-rate, .job-subtotal span {
      font-size: large;
    }

    .grand-total-text, .grand-total-currency {
      font-size: x-large;
    }

    .estimate-body {
      padding-left: 2rem;
      padding-right: 2rem;
    }

}


/* Responsive layout for larger screens */
@media (min-width: 768px) {
  .job-item {
    flex-direction: column;
  }

}


@media print {

    .print-repeat-header thead {
      display: table-header-group;
    }

    .print-no-repeat-header thead {
      display: table-row-group;
    }

    /* Prevent awkward breaks inside rows */
    tr {
        page-break-inside: avoid;
    }

    /* Hide anything you don't want printed (buttons, nav, etc.) */
    .no-print {
        display: none;
    }

    /* Ensure the table takes full width if needed */
    .estimate-table {
        width: 100%;
        margin-bottom: 0; 
        padding-bottom: 0;
    }

    body {
      counter-reset: page 1;
    }
    
}

@page {
  size: A4;
  margin: 1cm 0.5cm 2cm 0.5cm;

  @bottom-center {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10pt;
    font-weight: bold;
    color: #444;
  }
}

