:root {
    --primary-color: #012e5a; /* dark blue */
    --secondary-color: #dc4037; /* red */
    --background-color: #f4f4f4; /* light gray */
    --text-color: #333; /* dark gray */
    --header-font: 'Arial Black', sans-serif;
    --body-font: 'Arial', sans-serif;
}

.pdf-view {
    width: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.pdf-view .controls {
    align-self: flex-end;
    margin-top: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pdf-view .controls button {
    background-color: var(--secondary-color);
    color: #fff;
}

.pdf-view .estimate-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    border-top: 1px solid #ccc;     
}

.pdf-view .company-details {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.pdf-view .company-logo {
   align-self: flex-end;
}
.pdf-view .estimate-title {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    text-align: right;
    text-transform: uppercase;
}
.pdf-view .estimate-details {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.pdf-view .estimate-details strong {
    font-size: larger;
}

.pdf-view .estimate-details strong::after {
    content: " ";
}
.pdf-view .client-info .client-name {
    margin-top: 1rem;
}

.pdf-view .estimate-info p:first-child {
    margin-top: none;
}

.pdf-view .estimate-table {
    align-self: flex-start;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    margin-top: 2.5rem;
}

.pdf-view .estimate-table .currency-value {
    color: #000;
}
.pdf-view .estimate-table .table-body-row .currency-value {
    font-weight: lighter;
}

/* Header Row */
.pdf-view .table-header {
    background-color: #012e5a; /* dark blue */
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.pdf-view .table-header th {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #003366;
}

/* Table Data Cells */


.pdf-view .td-left {
    text-align: left;
    padding: 0.6rem;
}

.pdf-view .td-right {
    text-align: right;
    padding: 0.6rem;
}

.pdf-view .td-center {
    text-align: center;
    padding: 0.6rem;
}

.pdf-view .table-body-row:nth-child(even) {
    background-color: #f9f9f9;
}
.pdf-view .table-body-row td:first-of-type {
    font-weight: bold;
    color: #2d3748;
}

/* Remove borders for normal rows */
.pdf-view .table-body-row td {
    border: none;
    padding: 0.6rem;
}

/* Border top only for Subtotal row */
.pdf-view .border-top td {
    border-top: 1px solid #003366;
}

.pdf-view .subtotal-row *, .discount-row *{
    font-weight: bold;
}

/* Total Row Styling */
.pdf-view .total-row * {
    font-weight: 900;
}

.pdf-view .total-row td {
    border: 1px solid #003366;
    font-weight: 900;
    border: none;
}
.pdf-view .total-row td:nth-child(2), .total-row td:nth-child(3) {
    background-color: #e6f0ff;
    border-top: 1px solid #003366;
    border-bottom: 1px solid #003366;
}

.pdf-view input[type="text"],
.pdf-view input[type="number"],
.pdf-view input[type="email"],
.pdf-view textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 1rem;
    background-color: #fff;
    color: var(--text-color);
    transition: border-color 0.2s;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.pdf-view input[type="text"]:focus,
.pdf-view input[type="number"]:focus,
.pdf-view input[type="email"]:focus,
.pdf-view textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.pdf-view label {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0.25rem;
    display: block;
}



/* Print styling */
@media print {
    body {
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .pdf-view {
        padding: 0.5in;
        display: flex;
        align-items: center;
    }

    .pdf-view .estimate-table th,
    .pdf-view .estimate-table td {
        page-break-inside: avoid;
    }

    .navigation {
        display: none;
    }
    
    .pdf-view .controls {
            display: none;
    }
    .pdf-view .estimate-header {
        border-top: none;
    }
}
